<div class="text-center">
  <h1>Edit <%= @cocktail.name %></h1>
</div>
<%= render 'form', cocktail: @cocktail %>
<div class="text-center">
  <%= link_to @cocktail do %>
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <% end %>
</div>


