<div class="text-center">
  <h1>Mr.Cocktail</h1>
</div>


<div class="text-center">

</div>


<table class="table table-hover col-md-3">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
  <% @cocktails.each do |cocktail| %>
    <tr>
      <td><%= cocktail.name %></td>
      <td><%= link_to 'Show', cocktail %></td>
      <td><%= link_to 'Edit', edit_cocktail_path(cocktail) %></td>
      <td><%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <br>
    </tr>
    <% end %>
  </tbody>
</table>

