<div class="text-center">
<h1>THE COCKTAIL VAULT</h1>
</div>

<div class="container">
  <div class="cards">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail_path(cocktail) do %>
        <div class="card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path (cocktail.photo? ? (cocktail.photo.path) : "default_photo"), height: 300, width: 400, crop: :fit %>')">
        <div class="card-category"><%= cocktail.name %></div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
</div>



