/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

a {
  color:#34495E;
  :hover{
    color:#AACFD0;
  }
}

body {
  background-color:#F4F4F4;
}
